 /* Three image containers (use 25% for four, and 50% for two, etc) */
.colonne {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.ligne::after {
  content: "";
  clear: both;
  display: table;
} 

#mainDiv{
		width:50%;
  margin:auto;
}

img{
		max-width:100%;
}
